.saki-cascader-component {
  background-color: #fff;
  display: flex;
  justify-content: flex-start;
}


.saki-cascader-item-component {
  max-height: 380px;

  .ci-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .ci-i-content {
      flex: 1;
      // font-size: 13px;
    }
  }
}

.saki-cascader-dropdown-component {
  .scd-button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .close {
      display: none;
    }

    &:hover {
      .bottom {
        display: none;
      }

      .close {
        display: block;
      }

    }

    span {
      padding: 0 6px 0 0;
    }
  }
}