// @import "./common.scss";
html {
  // font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
  //   Roboto, "Helvetica Neue", Arial, sans-serif, microsoft yahei;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;

  // @media screen and (max-width: 320px) {
  //   font-size: 42.6667px;
  // }
  // // iPhone SE
  // @media screen and (min-width: 320px) {
  //   font-size: 42.6667px;
  // }
  // // iPhone8
  // @media screen and (min-width: 375px) {
  //   font-size: 40px;
  // }
  // // Pixel
  // @media screen and (min-width: 411px) {
  //   font-size: 54.8px;
  // }
  // // iPhone8 Plus
  // @media screen and (min-width: 414px) {
  //   font-size: 55.2px;
  // }
  // CSS变量
  --saki-default-color: #f29cb2;
  --saki-default-bottom-border-color: #f29cb2;
  --saki-default-hover-color: #f185a0;
  --saki-default-active-color: #ce5d79;
  --saki-defalut-border-color: #f1f1f1;

  // Nomal Style
  --saki-maintitle-color:#000
  --saki-subtitle-color:#999
  --saki-subtitle-select-color:#222

  /* Button Normal */
  --saki-button-loading-color: #5ec9f0;
  --saki-button-loading-border-color: #f3f3f3;

  --saki-button-normal-bg-color: var(-saki-default-color);
  --saki-button-normal-bg-hover-color: #f1f3f4;
  --saki-button-normal-bg-active-color: #ddd;

  --saki-button-circle-icon-gray-hover-bg-color: #fff;
  --saki-button-circle-icon-gray-hover-bg-hover-color: #f1f3f4;
  --saki-button-circle-icon-gray-hover-bg-active-color: #ddd;
  /* --saki-button-normal-hover-color: #ddd;
	--saki-button-normal-active-color: #ccc; */

  // Chat Dialog
  --saki-chat-dialog-right-border-color: var(-saki-default-color);
  --saki-chat-dialog-bg-color: #fff;
  --saki-chat-dialog-bg-hover-color: #f1f3f4;
  --saki-chat-dialog-bg-active-color: #ddd;
  --saki-chat-dialog-bg-select-color: #faebef;
  --saki-chat-dialog-message-color: #999;
  --saki-chat-dialog-time-color: #999;
  --saki-chat-dialog-time-select-color: #999;
  --saki-chat-dialog-context-menu-background-color:#eee;
  --saki-chat-dialog-count-bg-color: #ccc;
  --saki-chat-dialog-count-color: #fff;
  // #3874fb
  // Chat Bubble
  --saki-chat-bubble-left-bg-color:#e9b0be;
  --saki-chat-bubble-right-bg-color:#b3dff0;
  --saki-chat-bubble-content-border-radius:10px;
  --saki-chat-bubble-time-color:#888;
  --saki-chat-bubble-read-progress-color: #f185a0;
  --saki-chat-bubble-loading-color: #f185a0;
  --saki-chat-bubble-loading-active-color: #f3f3f3;


  // Chat header
  --saki-chat-header-online-color: #248bb4;

  // Chat call
  --saki-call-mini-video-width: 160px;

  // Loading
  --saki-loading-circle-bg-color: #f185a0;
  --saki-loading-circle-active-bg-color: #f3f3f3;


  // Chat call
  --saki-menu-active-border-color: var(--saki-default-color);
  --saki-menu-active-background-color: #eee;

  // Chat drag sort
  --saki-drag-sort-selected-color: var(--saki-default-color);
}

html,
body {
  width: 100%;
  // height: 100%;
}

// #__nuxt {
//   // height: 100%;
// }

// #__layout {
//   // height: 100%;
// }

*,
*:before,
*:after {
  //padding: 0;
  margin: 0;
  // color: #555;
  // transition: all .3s;
  box-sizing: border-box;
  // line-height: 1.42857143;
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

a.link-anima,.link-anima {
  position: relative;
  // padding-bottom: 5px;

  color:#666;

  &::after {
    content: "";
    width: 0%;
    height: 5px;
    position: absolute;
    bottom: -2px;
    background-color: var(--saki-default-color);
    z-index: 10000;
    left: 0%;
    transform: translateX(0%);
    transition: all 0.5s;
  }

  &:hover {
    // background-color: var(--saki-default-bottom-border-color);
    // text-decoration: underline;
    &::after {
      width: 100%;
      // left: 50%;
      // transform: translateX(-50%);
      // @media screen and (max-width: 1024px) {
      //   // width: 100% !important;
      // }
    }
  }
}

// 点赞变色
// .goodActive {
//   display: inline-block;
//   background-image: linear-gradient(to right, #6815cd, #2672fa);
//   background-clip: text;
//   color: transparent;
//   animation: animateGood 0.5s linear forwards;
// }

// // 取消点赞动画
// .goodNone {
//   display: inline-block;
//   animation: animateNone 0.5s linear;
// }

// @keyframes animateGood {
//   0% {
//     transform: scale(1);
//   }

//   50% {
//     transform: scale(1.2);
//   }

//   100% {
//     transform: scale(1);
//   }
// }

// @keyframes animateNone {
//   0% {
//     transform: scale(1);
//   }

//   50% {
//     transform: scale(1.2);
//   }

//   100% {
//     transform: scale(1);
//   }
// }

// 超出部份省略號
.text-elipsis,.text-two-elipsis{
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  // white-space: pre-wrap;
  word-break: break-word;
}
.text-elipsis {
  -webkit-line-clamp: 1;
  line-clamp: 1;
}

// 超出部份省略號
.text-two-elipsis {
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.flex {
  display: flex;
  justify-content: space-between;
  // .flex-left{

  // }
  // .flex-right{

  // }
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  // .flex-left{

  // }
  // .flex-right{

  // }
}

// @media (hover:none) {
//   background-color:transparent;
// }
