
.hover-background-color-eee {
  &:hover {
    background-color: #eee;
  }

  &:active {
    background-color: #ddd;
  }
  @media screen and (max-width: 414px) {
    &:hover {
      background-color: transparent;
    }
    &:active {
      background-color: #ddd;
    }
  }
}