.saki-modal-component {
  visibility: hidden;
  // visibility: hidden;
  &.visibleStyle {
    visibility: visible;
  }
  &.hide{
    display: none;
    // &.hide-modal-transition-enter-done{

    // }
    //   &.hide-modal-transition-leave-done{

    //   }
  }
  &.visible {
    .model-bg {
      opacity: 1;
    }
    .model-content {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
  }
  .model-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);

    transition: opacity 0.3s;
    opacity: -1;
  }
  .model-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
    z-index: 1000;
    opacity: -1;
    transition: all 0.3s;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
}

.saki-modal-buttons-component {
  padding: 6px 12px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  &.flexButton {
    justify-content: space-between;
    & > saki-button {
      flex: 1;
    }
  }
}
.saki-modal-content-component {
  padding: 6px 12px;
}
