@import "../../../node_modules/quill/dist/quill.core.css";
@import "../../../node_modules/quill/dist/quill.snow.css";
@import "../../../node_modules/quill/dist/quill.bubble.css";
// @import "../../globals/common.scss";
.saki-richtext-component {
  display: flex;
  flex-direction: column;
  height: 100%;
  .ql-toolbar {
    &.ql-snow {
      border: none;
      padding: var(--toolbar-padding);
      .ql-picker-item {
        &:hover {
          &::before {
            color: var(--toolbar-button-hover-color) !important;
          }
        }
        &:active {
          &::before {
            color: var(--toolbar-button-active-color) !important;
          }
        }
      }
      .ql-picker {
        &:hover {
          .ql-stroke {
            stroke: var(--toolbar-button-hover-color) !important;
          }
          .ql-fill {
            fill: var(--toolbar-button-hover-color) !important;
          }
          .ql-picker-label {
            &::before {
              color: var(--toolbar-button-hover-color) !important;
            }
          }
        }
        &:active {
          .ql-stroke {
            stroke: var(--toolbar-button-active-color) !important;
          }
          .ql-fill {
            fill: var(--toolbar-button-active-color) !important;
          }
          .ql-picker-label {
            &::before {
              color: var(--toolbar-button-active-color) !important;
            }
          }
        }
      }
      button {
        &:hover {
          .ql-stroke {
            stroke: var(--toolbar-button-hover-color) !important;
          }
          .ql-fill {
            fill: var(--toolbar-button-hover-color) !important;
          }
          .ql-picker-label {
            &::before {
              color: var(--toolbar-button-hover-color) !important;
            }
          }
        }
        &:active {
          .ql-stroke {
            stroke: var(--toolbar-button-active-color) !important;
          }
          .ql-fill {
            fill: var(--toolbar-button-active-color) !important;
          }
          .ql-picker-label {
            &::before {
              color: var(--toolbar-button-active-color) !important;
            }
          }
        }
      }
    }
  }
  .ql-container {
    border: none !important;
    .ql-editor {
      padding: var(--editor-padding);
      &::before {
        color: #666;
        font-style: normal;
        top: 0;
        left: 0;
        padding: var(--editor-padding);
      }
    }
  }
}
