.saki-context-menu-component {
  display: none;

  &.show {
    display: block;
  }

  .context-menu-content {
    position: fixed;
    // visibility: hidden;
    overflow: hidden;

    &.show {
      opacity: 1;
      // visibility: visible;
    }

    // visibility: hidden;
    opacity: 0;
    z-index: 1000;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    max-height: calc(100% - 20px);
  }

  .context-menu-content-bg {
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    z-index: 999;
    // pointer-events: none;
    visibility: hidden;

    &.show {
      visibility: visible;
    }
  }
}

.saki-context-menu-item-component {
  transition: background-color 0.3s;
  // cursor: pointer;
  user-select: none;

  &.hide {
    display: none;
  }

  &.disabled {
    color: #ccc;
  }

  &:hover,
  &.active {
    background-color: #ececec;
  }

  &:active {
    background-color: #d8d8d8;
  }

  .mi-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}