.saki-chat-layout-component {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  &.bottom-navigator {
    .l-main {
      .l-m-bottom {
        height: 60px;
      }
    }
  }
  &.Mobile {
    .l-side {
      display: none;
    }
  }
  &.Pad,
  &.PC {
    .l-main {
      .l-m-bottom {
        display: none;
      }
    }
  }
  .l-side {
    height: 100%;
  }
  .l-main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .l-m-main {
      flex: 1;
      // 如果有bottom。这里的高度就得检测bottom的高度然后减去
      width: 100%;
      // height: 100%;
    }
    .l-m-bottom {
      width: 100%;
      height: 0px;
      overflow: hidden;
      transition: height 0.3s;
    }
  }
}
