.saki-date-picker-component {
  width: var(--saki-date-picker-width);
  height: var(--saki-date-picker-height);
  --saki-date-picker-item-width: calc(var(--saki-date-picker-width) - 20px);
  padding: 10px 10px 10px;
  display: flex;
  flex-direction: column;
  position: relative;

  .dp-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3px 0px 3px;
    font-size: calc(var(--saki-date-picker-item-width) / 20);

    .dp-h-left {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex: 1;
      padding: 8px 10px 8px 4px;
      border-radius: 4px;
      cursor: pointer;
      user-select: none;
      transition: all 0.1s;

      .dp-h-l-date,
      .dp-h-l-time {
        font-weight: 700;
      }
    }

    .dp-h-right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }

  .dp-select-month,
  .dp-select-year {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 10px 4px;
    position: absolute;
    left: 0;
    top: 55px;
    width: 100%;
    height: calc(100% - 55px);
    background-color: #fff;
    transition: all 0.3s;
    transform: scale(0.9);
    opacity: 0;
    z-index: -1;

    &.show {
      transform: scale(1);
      opacity: 1;
    }

    .dp-sm-item,
    .dp-sy-item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: calc((var(--saki-date-picker-item-width)) / 4 - 4px);
      height: calc((var(--saki-date-picker-item-width)) / 4 - 4px);
      margin: 2px 2px;
      font-size: calc(var(--saki-date-picker-item-width) / 19);
      border-radius: 50%;
      cursor: pointer;
      user-select: none;

      &.thisMonth {
        color: #000;
      }

      &:hover {
        background-color: #f4f4f4;
      }

      &.active {
        border: 1px solid var(--saki-default-color);
        color: var(--saki-default-color);
      }

      &.now {
        background-color: var(--saki-default-color);
        color: #fff;
      }
    }
  }

  .dp-select-time {
    position: absolute;
    left: 0;
    top: 55px;
    width: 100%;
    height: calc(100% - 55px);
    background-color: #fff;
    transition: all 0.3s;
    transform: scale(0.9);
    opacity: 0;
    z-index: -1;

    &.show {
      transform: scale(1);
      opacity: 1;
    }

    .dp-st-list {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding: 0px 40px;
      height: calc(100% - 52px);

      .dp-st-item {
        overflow-x: auto;
        padding: 0px 6px;
        height: 252px;
        border: 1px solid #eee;
        border-radius: 6px;

        .dp-st-i-top {
          margin: 112px 0 0 0;
        }

        .dp-st-i-bottom {
          margin: 0 0 112px 0;
          // margin: 0 0 234px 0;
        }

        .dp-st-i-item {
          font-size: 14px;
          padding: 6px 7px;
          margin: 1px 0;
          height: 26px;
          cursor: pointer;
          user-select: none;
          border-radius: 4px;

          &:hover {
            background-color: #eee;
          }

          &:active {
            background-color: #ccc;
          }

          &.active {
            background-color: var(--saki-default-color);
            color: #fff;
          }
        }
      }
    }

    .dp-st-buttons {
      border-top: 1px solid #eee;
      padding: 10px 0 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .dp-select-year {
    .dp-sy-item {
      color: #999;

      &.activeYear {
        color: #000;
      }
    }
  }

  .dp-main {
    .dp-week {
      display: flex;
      justify-content: space-around;

      .dp-w-item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc((var(--saki-date-picker-item-width)) / 7 - 4px);
        height: calc((var(--saki-date-picker-item-width)) / 7 - 4px);
        margin: 2px;
        font-size: calc(var(--saki-date-picker-item-width) / 21);
        font-weight: 700;
      }
    }

    .dp-days {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;

      // flex-flow: row wrap;
      // flex-direction: column;
      .dp-d-item {
        display: flex;
        align-items: center;
        justify-content: center;
        // flex: 0 0 calc(100% / 7);
        // flex-basis: 6rem;
        width: calc((var(--saki-date-picker-item-width)) / 7 - 4px);
        height: calc((var(--saki-date-picker-item-width)) / 7 - 4px);
        margin: 2px;

        cursor: pointer;
        border-radius: 50%;
        user-select: none;
        border: 1px solid transparent;
        font-size: calc(var(--saki-date-picker-item-width) / 21);
        color: #999;
        transition: all 0.1s;

        &.thisMonth {
          color: #000;
        }

        &:hover {
          background-color: #f4f4f4;
        }

        &.active {
          border: 1px solid var(--saki-default-color);
          color: var(--saki-default-color);
        }

        &.now {
          background-color: var(--saki-default-color);
          color: #fff;
        }
      }
    }

    .dp-buttons {
      display: flex;
      justify-content: space-between;
      margin: 10px 0 0;
      border-top: 1px solid #eee;
      padding: 10px 0 0;

      .dp-today {
        display: none;

        &.show {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .dp-cancelButton {
        display: none;

        &.show {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}