.saki-scroll-loading-component {
  width: 100%;
  text-align: center;
  margin: 10px 0;
  color: #999;
  font-size: 14px;
  .loading-animation {
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &::after {
      content: "";
      border: 3px solid var(--saki-loading-circle-bg-color);
      border-radius: 50%;
      border-top: 3px solid var(--saki-loading-circle-active-bg-color);
      width: 30px;
      height: 30px;
      display: block;
      animation: circle 1s linear infinite;
    }
    @keyframes circle {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  }
}
