.saki-cascader-component {
  overflow: hidden;

  position: relative;

  &:hover {
    & > saki-button {
      &.c-btn-left,
      &.c-btn-right {
        transform: translate(0, -50%);
      }
    }
    .autoHide.c-numbers {
      opacity: 1;
    }
  }

  .c-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    // transition: left .3s;
  }

  & > saki-button {
    position: absolute;
    top: 50%;
    transition: transform 0.3s;
    z-index: 400;

    &.c-btn-left {
      left: 10px;
      transform: translate(-100px, -50%);
    }

    &.c-btn-right {
      right: 10px;
      transform: translate(100px, -50%);
    }
  }

  .c-dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;

    .c-d-item {
      width: 20px;
      height: 3px;
      border-radius: 1px;
      background-color: #999;
      margin: 0 6px;

      &.active {
        background-color: #eee;
      }
    }
  }

  .c-numbers {
    --number-pixel: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    // height: 30px;
    padding: 5px 10px 7px;
    border-radius: 15px;
    opacity: 1;
    transition: opacity 0.5s;
    user-select: none;
    &.autoHide {
      opacity: 0;
    }
    &.TopLeft {
      top: var(--number-pixel);
      left: var(--number-pixel);
    }
    &.TopRight {
      top: var(--number-pixel);
      right: var(--number-pixel);
    }
    &.BottomLeft {
      bottom: var(--number-pixel);
      left: var(--number-pixel);
    }
    &.BottomRight {
      bottom: var(--number-pixel);
      right: var(--number-pixel);
    }
    span {
      font-size: 12px;
      color: #222;
      &:nth-child(2) {
        font-size: 10px;
      }
    }
  }
}

.saki-cascader-item-component {
  position: relative;

  .index {
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 1000;
  }
}

.saki-cascader-nav-component {
  // position: relative;
  overflow-x: auto;

  .nav-list {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    // position: absolute;
    // left: 0;
    // top: 50%;
    // transform: translate(0, -50%);
  }
}

.saki-cascader-nav-item-component {
  margin: 0 10px;
  overflow: hidden;

  border: var(--border);

  transition: border-color 0.3s;

  &.active {
    border: var(--borderActive);
  }
}
