.saki-avatar-component {
  width: var(--saki-avatar-width);
  height: var(--saki-avatar-height);
  border-radius: 50%;
  position: relative;
  // overflow: hidden;
  box-sizing: content-box;
  border: var(--saki-avatar-border);
  transition: border 0.2s;

  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    .edit {
      &.Hover {
        opacity: 1;
      }
    }
    border: var(--saki-avatar-border-hover);
  }
  &:active {
    border: var(--saki-avatar-border-active);
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
  .avatar-icon {
    background-color: var(--saki-default-color);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .avatar-word {
    background-color: #f09db3;
    color: #fff;
    padding: 2px;
    text-align: center;
    display: flex;
    justify-content: center;
    word-break: break-all;
    white-space: pre-wrap;
    overflow: hidden;
    cursor: default;
    user-select: none;
  }

  .anonymous-icon {
    position: absolute;
    right: -4px;
    bottom: 0px;
    width: 18px;
    height: 18px;
    fill: #fff;
    background-color: var(--default-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    svg {
      width: 14px;
      height: 14px;
    }
  }
  .edit {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    cursor: pointer;
    border-radius: 50%;
    &.Always {
      opacity: 1;
    }
    .icon {
      fill: #fff;
      width: calc(var(--saki-avatar-width) * 0.3);
      height: calc(var(--saki-avatar-height) * 0.3);
    }
  }
}
