.saki-header-component {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--height);
  border-bottom: 1px solid #eee;
  background-color: var(--bg-color);
  transition: top 0.5s, background-color 0.5s;

  &:hover {
    background-color: var(--bg-hover-color);
  }
  &:active {
    background-color: var(--bg-active-color);
  }

  &.fixed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 500;
    // background-color: rgba(255, 255, 255, 0.6);
    transition: top 0.5s, background-color 0.5s;
    &.hide {
      top: calc(var(--height) * -1);
    }
  }
  &.show {
  }
  &.hide {
    top: calc(var(--height) * -1);
  }
  .h-layout {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .tb-h-left {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 0 0 0 10px;
      & > div {
        display: flex;
        justify-content: start;
        align-items: center;
      }
    }
    .tb-h-center {
      & > div {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .tb-h-right {
      padding: 0 10px 0 0;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      & > div {
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
    }
  }
}

.saki-menu-dropdown-component {
  .md-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 7px 0;
    .logo-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      white-space: nowrap;
      color: var(--text-color);
      @media (max-width: 600px) {
        font-size: 14px;
      }
    }
    .icon {
      width: 12px;
      height: 12px;
      margin-left: 10px;
      color: var(--icon-color);
      transition: all 0.3s;
      &.active {
        transform: rotate(180deg);
      }
    }
  }
}

.saki-footer-component {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  .f-left {
    display: flex;
    flex-wrap: wrap;
    & > div {
      margin-right: 4px;
    }
    .f-language,
    .f-appearance {
      .f-l-button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        color: var(--text-color);
        .icon {
          width: 16px;
          height: 16px;
        }
      }
    }
  }
  .f-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    .f-r-copyright {
      font-size: 12px;
      color: var(--text-color);
    }
    .f-r-link {
      display: inline-block;
      // justify-content: flex-end;
      // align-items: center;
      font-size: 12px;
      &:nth-child(1) {
        margin-left: 4px;
      }
      // &:nth-child(n + 2) {
      //   &::before {
      //     content: "-";
      //     margin: 0 4px;
      //   }
      // }
      span {
        margin: 0 4px;
        color: var(--text-color);
      }
      a {
        color: var(--text-color);
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.tool-box-layout-menu-list {
  max-height: 480px;
  .tblml-item {
    padding: 12px 16px;
    a {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .tblm-i-left {
        padding: 0 6px 0 0;
      }
      .tblm-i-right {
        flex: 1;
        font-size: 14px;
        display: block;
        color: #000;
      }
    }
  }
}

.saki-template-bottom-navigator-component {
  width: 100%;
  height: var(--height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color);
  transition: top 0.5s, background-color 0.5s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  &:hover {
    background-color: var(--bg-hover-color);
  }
  &:active {
    background-color: var(--bg-active-color);
  }
  &.fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 500;
    // background-color: rgba(255, 255, 255, 0.6);
    transition: top 0.5s, background-color 0.5s;
    &.hide {
      top: calc(var(--height) * -1);
    }
  }
  .tbn-item {
    flex: 1;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    -webkit-tap-highlight-color: transparent;
    &.active {
      .tbn-icon {
        transform: translate(0, -6px);
        box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2);
      }
      .tbn-name {
        color: var(--text-active-color);
      }
    }
    .tbn-icon {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      background-color: var(--bg-color);
      border-radius: 50%;
      transition: all 0.3s;
    }
    .tbn-name {
      text-align: center;
      flex: 1;
      font-size: 12px;
      color: var(--text-color);
      transition: all 0.3s;
    }
  }
}

.tbn-i-sublist {
  .tgbs-icon {
  }
  .tgbs-name {
    font-size: 14px;
    color: var(--text-color);
    transition: all 0.3s;
  }
}
