.saki-chat-bubble-component {
  width: 100%;

  .bubble-center-time {
    text-align: center;
    margin: 18px 0 10px;
    margin-top: calc(var(--vertical-margin) + 14px);
    color: var(--saki-chat-bubble-time-color);
    font-size: 13px;
    cursor: default;
    user-select: none;
    span {
      position: relative;
      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 60px;
        height: 1px;
        opacity: 0.3;
        background-color: var(--saki-chat-bubble-time-color);
      }

      &::before {
        left: -66px;
      }
      &::after {
        right: -66px;
      }
    }
  }
  .bubble-message {
    display: flex;
    justify-content: flex-start;
    position: relative;
    padding: 0 10px;
    margin: 10px 0 0px;
    margin-top: var(--vertical-margin);

    &.selected {
      .bubble-c-msg {
        // border: 1px solid var(--saki-default-color) !important;
        position: relative;
        &::after {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          background-color: rgba(0, 0, 0, 0.4);
        }
      }
      // .bubble-content {
      //   // background-color: #eee;
      // }
      // .bubble-m-userinfo {
      //   // background-color: #eee;
      // }
    }
    &.selected {
      .bubble-c-msg {
        // border: 1px solid var(--saki-default-color) !important;
        position: relative;
        &::after {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          background-color: rgba(0, 0, 0, 0.4);
        }
      }
      // .bubble-content {
      //   // background-color: #eee;
      // }
      // .bubble-m-userinfo {
      //   // background-color: #eee;
      // }
    }

    &.sender {
      flex-flow: row-reverse;
      .bubble-m-userinfo {
        padding-right: 20px;
        .bubble-u-avatar {
          margin-left: 10px;
        }
      }
      .bubble-m-main {
        .bubble-time {
          text-align: right;
          right: 0;
        }
        .bubble-content {
          padding-left: var(--horizontal-margin);
          position: relative;
          .bubble-c-msg {
            background-color: var(--saki-chat-bubble-right-bg-color);
          }
        }
      }
      .bubble-time-hover {
        right: 60px;
      }
    }

    &.receiver {
      .  {
        padding-left: 20px;
        .bubble-u-avatar {
          margin-right: 10px;
        }
      }
      .bubble-m-main {
        .bubble-time {
          text-align: left;
          left: 0;
        }

        .bubble-content {
          padding-right: var(--horizontal-margin);
          position: relative;
          .bubble-c-msg {
            background-color: var(--saki-chat-bubble-left-bg-color);
          }
        }
      }
      .bubble-time-hover {
        left: 60px;
      }
    }
    &.showTime {
      margin: 6px 0 0px;
      .bubble-m-main {
        padding-top: 20px;
        .bubble-time {
          display: block;
        }
      }
    }
    &.showUserInfo {
      .bubble-m-userinfo {
        .bubble-u-avatar {
          display: block;
        }
      }
    }

    &:hover {
      &.showTime {
        .bubble-m-main {
          .bubble-time {
            .full-time {
              display: block;
            }
            .short-time {
              visibility: hidden;
            }
          }
        }
      }
    }

    .bubble-m-userinfo {
      width: 46px;
      .bubble-u-avatar {
        // margin-right: 10px;
        display: none;
      }
    }
    .bubble-m-main {
      max-width: calc(100% - var(--horizontal-margin));
      display: flex;
      flex-direction: column;
      position: relative;
      padding-bottom: 4px;
      .bubble-time {
        width: 200px;
        // position: absolute;
        // top: 6px;
        // left: 50%;
        // transform: translateX(-50%);
        text-align: center;
        font-size: 13px;
        display: none;
        color: var(--saki-chat-bubble-time-color);
        margin: 0px 0 2px;
        cursor: default;
        position: absolute;
        top: 0;
        .full-time {
          display: none;
        }
      }
      .bubble-content {
        position: relative;
        .bubble-c-status {
          &.receiver {
            .bubble-c-s-readstatus {
              right: calc(var(--horizontal-margin) - 16px);
              left: auto;
            }
            .bubble-c-s-resend-icon {
              right: calc(var(--horizontal-margin) - 16px);
              left: auto;
            }
            .bubble-c-s-loading {
              right: calc(var(--horizontal-margin) - 16px);
              left: auto;
            }
          }
          // &.right {
          //   display: none;
          // }
          .bubble-c-s-readstatus {
            // border: 2px solid var(--saki-chat-bubble-loading-color);
            position: absolute;
            width: 12px;
            height: 12px;
            bottom: 0;
            left: calc(var(--horizontal-margin) - 16px);
            cursor: pointer;
            .bubble-c-s-readstatus-icon {
              position: absolute;
              top: -2px;
              right: 0px;
              width: 14px;
              height: 14px;
              fill: var(--saki-chat-bubble-read-progress-color);
            }
            .bubble-c-s-progress-bar {
              .bubble-c-s-progress-bar-icon {
                width: 8px;
                height: 8px;
                fill: var(--saki-chat-bubble-read-progress-color);
              }
            }
          }
          .bubble-c-s-resend-icon {
            width: 12px;
            height: 12px;
            bottom: 0;
            left: calc(var(--horizontal-margin) - 16px);
            position: absolute;
            transition: all 0.3s;
            // top: 50%;
            // transform: translateY(-50%);
            // left: calc(var(--horizontal-margin) - 18px);
            cursor: pointer;
            fill: var(--saki-chat-bubble-loading-color);
          }
          saki-animation-loading {
            position: absolute;
            left: calc(var(--horizontal-margin) - 16px);
            bottom: 0;
          }
        }
        .bubble-c-msg {
          // border-radius: var(--saki-chat-bubble-content-border-radius);
          // padding: 8px 10px;
          overflow: hidden;
          position: relative;
          &::after {
            content: "";
          }
          .bubble-c-msg-call {
            cursor: default;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            .icon {
              width: 22px;
              height: 22px;
              fill: #7c8092;
            }
            .bubble-c-msg-call-content {
              flex: 1;
              text-align: center;
              position: relative;
              user-select: none;
              .bubble-c-msg-call-msg {
                opacity: 1;
              }
              &::after {
                content: attr(data-hover-text);
                position: absolute;
                left: 0;
                opacity: 0;
                top: 0;
                color: #2254f4;
                cursor: pointer;
              }
            }
            &.hover {
              &:hover {
                .bubble-c-msg-call-content {
                  .bubble-c-msg-call-msg {
                    opacity: 0;
                  }
                  &::after {
                    opacity: 1;
                  }
                }
              }
            }
          }
        }
      }
      .bubble-time-hover {
        position: absolute;
        top: -14px;
        // opacity: 1;
        // opacity: 0;
        font-size: 13px;
        color: var(--saki-chat-bubble-time-color);
        transition: opacity 0.2s;
      }
    }
  }
}

.saki-chat-bubble-file-component {
  .cbf-image {
    img {
      display: block;
      width: var(--saki-chat-bubble-file-width);
      max-width: var(--saki-chat-bubble-file-max-width);
      max-height: calc(var(--saki-chat-bubble-file-width) * 16 / 9);
      object-fit: cover;
    }
  }
  .cbf-video {
    video {
      width: 240px;
      object-fit: cover;
    }
  }
  .cbf-file {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .cbf-f-icon {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #50a4e0;
      display: flex;
      justify-content: center;
      align-items: center;
      .icon {
        width: 20px;
        height: 20px;
        fill: #fff;
      }
    }
    .cbf-f-right {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 0 0 10px;
      .cbf-f-r-top {
        color: #333;
        font-weight: 600;
        word-break: break-all;
      }
      .cbf-f-r-bottom {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .cbf-f-r-b-size {
          font-size: 13px;
          color: #aaa;
        }
        .cbf-f-r-b-tag {
          margin: 0 4px;
          font-size: 13px;
          color: #aaa;
        }
        .cbf-f-r-b-progress {
          font-size: 13px;
          color: #5ec9f0;
          font-weight: 600;
        }
        .cbf-f-r-b-expiration {
          font-size: 13px;
          color: #aaa;
          white-space: nowrap;
        }
        .cbf-f-r-b-download {
          font-size: 13px;
          color: #5ec9f0;
          font-weight: 600;
          cursor: pointer;
        }
      }
    }
  }
}

.saki-chat-bubble-reply-component {
  width: 100%;
  height: 50px;
  flex-direction: column;
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 10px;
  user-select: none;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #999;
    height: 1px;
    width: 100%;
  }

  .cr-reply-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin-right: 10px;
    cursor: pointer;
  }
  .cr-nickname {
    font-weight: 500;
    color: #333;
    font-size: 12px;
  }
  .cr-message {
    color: #555;
    font-style: italic;
  }
}
