.saki-chat-container-component {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  &.border {
    border: 1px solid var(--saki-defalut-border-color);
  }
  .chat-container-sidebar {
    width: 260px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-right: 1px solid var(--saki-defalut-border-color);
    // .sidebar-header {
    // }
    position: relative;
    .sidebar-main {
      flex: 1;
    }
    // .sidebar-footer {
    // }
  }
  .chat-container-message {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }
}

.saki-chat-message-container-component {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 100%;
  .message-header {
    border-bottom: 1px solid var(--saki-defalut-border-color);
  }
  .message-main {
    flex: 1;
    position: relative;
    .message-main-wrap {
      position: absolute;
      width: 100%;
    }
  }
  .message-inputbar {
    border-top: 1px solid var(--saki-defalut-border-color);
  }
}
