.saki-chat-message-header-component {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 10px;
  .message-header-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;

    .message-header-l-avatar {
      width: 36px;
      height: 36px;
      margin-right: 10px;
      .message-header-l-avatar-img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
    .message-header-l-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      flex: 1;
      .message-header-l-i-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        .message-header-l-i-i-nickname {
          font-size: 14px;
          line-height: 14px;
          flex: 1;
          font-weight: 700;
        }
      }
      .message-header-l-i-status {
        color: #666;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }
    }
  }
  .message-header-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: all 0.3s;
    
  }
}
