.saki-call-container-component {
  position: relative;
  width: 100%;
  height: 100%;
  .call-main {
    width: 100%;
    height: 100%;
    slot {
      width: 100%;
      height: 100%;
    }
  }
  .call-small-window {
    position: absolute;
    top: 40px;
    right: 10px;
  }
  .call-info {
    max-width: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    padding-top: 80px;
  }
}
