.saki-call-floating-component {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  padding: 10px 10px;
  border-radius: 6px;
  .floating-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
    .floating-h-logo {
    }
    .floating-h-content {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 0 0 0 6px;
      .floating-h-c-top {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        .floating-h-c-t-nickname {
          font-size: 13px;
          color: #222;
        }
        .floating-h-c-t-time {
          font-size: 12px;
          color: #999;
        }
      }
      .floating-h-c-bottom {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
    }
  }
  .floating-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 6px;
    .floating-f-left {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    .floating-f-right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
}
